@use "../../variables.scss" as vars;

.container {
  width: 100vw;
  height: 100vh;
  background-color: vars.$background-color-app;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
}