@use "../../variables.scss" as vars;

.container {
  background-color: vars.$background-color;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(200px, 60vw, 400px);
}