@use '../../variables.scss' as vars;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;

  &[data-inline=true] {
    width: fit-content;
  }
}

.menuItem {
  text-decoration: none;
  color: vars.$primary-color;
}

.notification {
  position: relative;
  border-radius: vars.$border-radius-base vars.$border-radius-base 0 0;

  &[data-active=true] { 
    background-color: white;
  }

  .notificationContainer {
    width: clamp(85vw, 85vw, 500px);
    height: clamp(85vh, 85vh, 700px);
    max-width: 500px;
    max-height: 700px;
    background-color: white;
    position: absolute;
    top: 2.2rem;
    right: 0;
    z-index: 100;
    border-radius: vars.$border-radius-base 0 vars.$border-radius-base vars.$border-radius-base;
  }
}