@use '../../variables.scss' as vars;

.widthContainer {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.builderDashboard {
  height: 100vh;
  background-color: vars.$background-color-app;
  
  .topContainer {
    padding: 1rem;
    background-color: #EAD3FD;
    color: vars.$text-dark-70;
    height: 340px;

    .notifications {
      display: flex;
      justify-content: flex-end;
      font-size: 1.1rem;
      height: 20%;
    }

    h3 {
      font-size: 1rem;
    }

    h1 {
      font-size: 1.5rem;
    }

    .message {
      background-color: vars.$primary-color;
      border-radius: 1.25rem;
      padding: 1rem;
      color: vars.$text-light;
      font-size: 0.9rem;
      letter-spacing: 1px;

      .dayType {
        font-weight: 600;
        margin-bottom: 20px;
      }

      .visits {
        font-size: 0.8rem;
        margin-bottom: 2px;

        .visitNumber {
          font-size: 1.2rem;
          font-weight: 600;         
        }
      }
    }
  }

  .bottomContainer {
    height: calc(100% - 340px + 3.4rem);
    padding: 1rem;
    margin-top: -3.4rem;

    .visitList {
      height: 90%;
      overflow: auto;
      padding-bottom: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 1rem;
      max-width: 1200px;
      margin: 0 auto;

      .visitItem {
        background-color: #FFFFFF;
        padding: 1rem;
        border-radius: vars.$border-radius-base;
        height: fit-content;

        .propertyDetails {
          display: flex;

          .image {
            width: 100px;
            height: auto;
            background-color: #F6F2FF;
            border-radius: vars.$border-radius-base;
            margin-right: 1rem;
            object-fit: cover;
          }

          .details {
            color: vars.$text-dark-70;
            font-size: 0.9rem;

            .propertyName {
              color: vars.$text-dark;
              font-size: 1.2rem;
              font-weight: 600;
            }

            .status {
              background-color: green;
              padding: 0.2rem 0.5rem;
              border-radius: 1rem;
              color: #FFFFFF;
              text-transform: uppercase;
              display: inline-block;
              margin: 0.2rem 0 1rem 0;
              font-weight: 600;
              font-size: 0.6rem;
            
              &[data-status="PENDING"] {
                background-color: red;
              }
            }            

            .detail {
              margin-top: 0.5rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .visitItemAction {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;

          button {
            flex: 1;
          }
        }
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$primary-color;
    color: vars.$text-light;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 1rem 2rem;

    a {
      color: inherit
    }
  }
}