@use './variables.scss' as vars;

html,
body {
  overflow: hidden;
}

.loadMore {
  border: 1px dotted vars.$secondary-color;
  color: vars.$secondary-color;
  padding: 1rem;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    background-color: vars.$background-color-secondary;
  }
}