// colors
$primary-color: #613ff6f6;
$secondary-color: #8569F8;
$secondary-color-disabled: #8669f84a;
$background-color: #F6F2FF;
$background-color-app: #8669f824;
$text-light: #ECE0FC;
$text-dark: #343434;
$text-dark-70: #343434B2;
$grey-background: #A29FA914;


$border-radius-base: 8px; // Example border radius