// colors
$primary-color: #2a115b;
$secondary-color: #382858c4;
$secondary-color-disabled: #38285856;
$background-color: #F6F2FF;
$background-color-app: #8669f824;
$background-color-secondary: #EAD3FD;
$text-light: #f1eafa;
$text-dark: #343434;
$text-dark-70: #343434B2;
$grey-background: #A29FA914;
$accent-color: #25df15;


$border-radius-base: 8px; // Example border radius