@use '../../variables.scss' as vars;

.properties {
  height: 100vh;
  background-color: vars.$background-color-app;

  .topContainer {
    height: 10vh;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottomContainer {
    height: 90vh;
    padding: 1rem;

    .toolFilters {
      height: 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      color: vars.$text-dark;

      .searchInput {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0;
        border: none;
        color: vars.$text-dark-70;
      }
    }

    .propertyListContainer {
      height: 90%;
      overflow-y: auto;
      padding-bottom: 2rem;

      .propertyCard {
        background-color: #FFFFFF;
        padding: 1rem;
        border-radius: vars.$border-radius-base;
        margin-bottom: 1rem;

        .propertyDetails {
          display: flex;

          .image {
            width: 100px;
            height: auto;
            background-color: #F6F2FF;
            border-radius: vars.$border-radius-base;
            margin-right: 1rem;
          }

          .details {
            color: vars.$text-dark-70;
            font-size: 0.9rem;

            .propertyName {
              color: vars.$text-dark;
              font-size: 1.2rem;
              font-weight: 600;
            }

            .status {
              background-color: green;
              padding: 0.2rem 0.5rem;
              border-radius: 1rem;
              color: #FFFFFF;
              text-transform: uppercase;
              display: inline-block;
              margin: 0.2rem 0 1rem 0;
              font-weight: 600;
              font-size: 0.6rem;
            }

            .detail {
              margin-top: 0.5rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 10px;
            }
          }
        }

        .propertyTags {
          margin: 1rem 0 0 0;
          z-index: 1 !important;
        }
      }
    }
  }
}

.scheduleVisitCTA {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
  font-size: 0.9rem;
  color: vars.$text-dark-70;
  font-weight: 800;

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex: 1;
  }

  .button {
    width: 100%;
    background-color: vars.$secondary-color;
    border-radius: vars.$border-radius-base;
    color: vars.$text-light;
    padding: 0.8rem;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 0.8rem;
  }
}