@use '../../variables.scss' as vars;

.container {
  background-color: vars.$primary-color;
  color: vars.$text-light;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}